body {
   margin: 0;
   font-family: Helvetica;
}

.tys-wrapper {
   color: #354393;
}

.tys-modal-dialogs > div {
   position: fixed;
}

.tys-modal-dialogs > div:sbefore {
   position: fixed;
   width: 100%;
   height: 100%;
   content: '';
   top: 0px;
   left: 0px;
   background-color: rgba(1, 1, 1, 0.6);
}

.tys-modal-close {
   display: none;
}

div + .tys-modal-close {
   display: block;
   position: fixed;
   top: 20px;
   right: 20px;
   font-size: 50px;
   color: #fff;
   cursor: pointer;
}

.tys-modal-close:hover {
   color: #de6f1b;
}

.tys-wrapper.blured .tys-header, .tys-wrapper.blured .tys-body {
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
}

.tys-auth {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
}

.tys-auth-wrapper {
   width: 40vw;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0 0 30px #ccc;
}

.tys-auth form {
   font-size: 19px;
}

.tys-auth form input {
   height: 23px;
   font-size: 19px;
   width: 200px;
}

.tys-auth-title {
   font-size: 22px;
}

.tys-auth-sub-title {
   margin-top: 15px;
   font-size: 19px;
}

.tys-auth-name, .tys-auth-pass {
   display: flex;
   justify-content: space-between;
   margin: 16px;
   align-items: center;
}

.tys-auth-submit {
   width: 140px;
}

.tys-auth-name {
   margin-top: 40px;
}

.tys-auth-error {
   color: #da1212;
   margin-top: 20px;
   min-height: 25px;
}

.tys-sign-up-block {
   margin-top: 20px;
}

.tys-sign-up-block a {
   margin-top: 15px;
}

.tys-button {
   background-color: #fff;
   cursor: pointer;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 15px;
   height: 30px;
}

.tys-button:hover {
   border: 1px solid #fff;
   box-shadow: 0 0 10px #ccc;
}

.tys-button:focus {
   outline: none;
}

.tys-quizzes-filter {
   position: fixed;
   font-size: 19px;
   left: 20px;
   width: 15vw;
}

.tys-quizzes-filter-header {
   margin: 16px 0 16px 0;
}

.tys-quizzes-filter-clear {
   color: #ccc;
   cursor: pointer;
   margin-top: 8px;
}

.tys-quizzes-filter-clear:hover {
   color: #ca8c8c;
}

.tys-quizzes-filter-category-item {
   border: 1px solid #ccc;
   padding: 4px 0 4px 0;
   cursor: pointer;
   border-radius: 6px;
}

.tys-quizzes-filter-category-item:hover {
   box-shadow: 0 0 10px #737373;
}

.tys-quizzes-filter-category-item.hightlighted {
   box-shadow: 0 0 10px #737373;
}

.tys-quizzes-filter-category-item + .tys-quizzes-filter-category-item {
   margin-top: 16px;
}

.tys-profile-item {
    padding: 8px;
}

.tys-question-results-clear {
   cursor: pointer;
   color: #ccc;
}

.tys-question-results-clear:hover {
   color: #ca8c8c;
}

.tys-header {
   height: 50px;
   width: 100%;
   box-shadow: 0 0 10px #737373;
   background-color: #fff;
   position: fixed;
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.tys-header-logo {
   height: 50px;
   background-color: #354393;
   text-align: center;
   color: #fff;
}

.tys-header-logo img {
   height: 100%;
}

.tys-header-buttons > * {
   margin-right: 16px;
}

.tys-body {
   padding-top: 50px;
   text-align: center;
}

.tys-quizzes {
   display: inline-block;
   padding-top: 30px;
   width: 32vw;
}

.tys-quizzes-item-done {
   height: 23px;
   margin-top: 0px !important;
}

.text-shortcut {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.tys-quizzes-item {
   padding: 8px;
}

.tys-quizzes-item + .tys-quizzes-item {
   padding-top: 35px;
}

.tys-quizzes-description-button {
   width: 100%;
}

.tys-quizzes-item > *:not(.tys-quizzes-title) {
   margin-top: 6px;
}

.tys-quizzes-title {
   font-size: 20px;
   text-decoration: underline;
   display: inline-block;
   max-width: 27vw;
}

.tys-questions-wrapper {
   position: fixed;
   top: 0px;
   right: 0px;
   width: 100%;
   height: 100%;
   background-color: rgba(1, 1, 1, 0.1);
   display: flex;
   justify-content: center;
   align-items: center;
}

.tys-questions-view {
   background-color: #fff;
   overflow: hidden;
   width: 90vw;
   max-height: 70vh;
   border-radius: 10px;
   box-shadow: 0 0 41px #b3b3b3;
}

.tys-question {
   padding: 16px;
}

.tys-question-head {
   margin: 3vh;
}

.tys-question + .tys-question {
    display: none;
}

.tys-question-text {
   text-align: center;
   font-size: 20px;
}

.tys-question-answers {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.tys-question-answers-item {
   border: 1px solid #ccc;
   border-radius: 8px;
   white-space: pre-wrap;
   min-width: 27vw;
   max-width: 40vw;
   max-height: 20vh;
   min-height: 7vh;
   font-size: 20px;
   margin: 2vh 0 2vh 0;
   padding: 0px 1vw;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.tys-question-results {
   padding: 5vh 10vh 10vh 5vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.tys-question-results-title {
   font-size: 25px;
}

.tys-question-results-body {
   font-size: 38px;
   margin-top: 50px;
   text-align: center;
}

.tys-question-results-percent {
   font-size: 23px;
}

.tys-question-ok {
   height: 40px;
   display: flex;
   padding: 10px;
   margin-top: 25px;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}