<div class="tys-wrapper">
   <div class="tys-header">
      <div class="tys-header-logo"><p>TYS</p></div>
      <div class="tys-header-buttons">
         <a href="">Все тесты</a>
         <a href="">Профиль</a>
         <a href="">Выход</a>
      </div>
   </div>
   <div class="tys-body">{{outlet}}</div>
</div>