<!DOCTYPE html>
<html>
  <head>
    <title>TestYourself</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
	<meta name="tys/config/environment" content="%7B%22modulePrefix%22%3A%22tys%22%2C%22environment%22%3A%22development%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22tys%22%2C%22version%22%3A%220.0.0+af78ae03%22%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%2C%22useDefaultPassthroughs%22%3Atrue%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
  </head>

  <body>
    <%= yield %>
  </body>
  
  <%= javascript_include_tag 'application' %>
</html>
